<!-- <div class="nav {% if page.url == '/' %}disable-collapse{% endif %}"> -->
<div class="nav">
  <div id="nav-close" class="btn-icon">
    <!-- <span>Close</span> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </div>
  <div class="wrapper">
    <ul class="list list--horizontal">
      <li>
        <a href="{{ site.baseurl }}/" class="btn btn--pill" data-name="home">
          🏡 Home
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/buy-local" | prepend: site.baseUrl }}" class="btn btn--pill" data-name="buy-local">
          🛒 Buy Local
        </a>
      </li>
      <!-- <li>
        <a href="/notice-board" class="btn btn--pill" data-name="notice-board">
          📌 Notice Board
        </a>
      </li> -->
      <!-- <li>
        <a href="#" target="_blank" class="btn btn--pill" data-name="local-history">
          📖 Local History
        </a> 
      </li> -->
      <li>
        <a href="https://www.npt.gov.uk/2195" target="_blank" class="btn btn--pill" data-name="bin-collections">
          ♻️ Bin Collections
        </a>
      </li>
      <li>
        <a href="https://www.police.uk/south-wales/W05000590/" target="_blank" class="btn btn--pill"  data-name="crime-report">
          ⚖️ Crime Report
        </a>
      </li>
      <li>
        <a href="https://bustimes.org/localities/tonna" target="_blank" class="btn btn--pill" data-name="bus-timetables">
          🚌 Bus Timetables
        </a>
      </li>
      <!-- <li>
        <a href="https://www.bbc.co.uk/weather/0/sa11" target="_blank" class="btn btn--pill" data-name="weather-forecast">
          ☀️ Weather forecast
        </a>
      </li> -->
      <!-- 
          <li>
          <a href="#" target="_blank" class="btn btn--pill" data-name="events">
            📅 Events
          </a>
        </li> -->
      <!--
        <li>
          <a href="#" target="_blank" class="btn btn--pill" data-name="photography">
            📷 Photography
          </a>
        </li> -->
      <li>
        <a href="http://www.npted.org/schools/primary/tonnau/" target="_blank" class="btn btn--pill" data-name="primary-school">
          👨‍🏫 Primary School
        </a>
      </li>
      <!-- <li>
        <a href="https://www.facebook.com/Tonna-Community-News-Events-142335116220/" target="_blank" class="btn btn--pill"  data-name="facebook-group">
          👩‍💻 Facebook Group
        </a>
      </li> -->
      <li>
        <a href="https://www.facebook.com/groups/342128192853044/" target="_blank" class="btn btn--pill" data-name="councillor">
          👩 Cllr. Leanne Jones
        </a>
      </li>
      <li>
        <a href="http://tonna.rfc.wales/" target="_blank" class="btn btn--pill" data-name="tonna-rfc">
          🏉 Tonna RFC
        </a>
      </li>
      <li>
        <a href="http://www.tonnacommunitycouncil.com/" target="_blank" class="btn btn--pill" data-name="community-council">
          🏛 Community Council
        </a>
      </li>
      <!-- <li>
        <a href="https://goo.gl/maps/bLQdaPr2K9R2" target="_blank" class="btn btn--pill" data-name="map">
          🗺 Map
        </a>
      </li> -->
      <li>
        <a href="https://goo.gl/forms/LZpjYEbhkGrWNx892" target="_blank" class="btn btn--pill" data-name="contact-us">
          ✉️ Contact us
        </a>
      </li>
    </ul>
  </div>
</div>