<!-- <div class="nav {% if page.url == '/' %}disable-collapse{% endif %}"> -->
<div class="nav">
  <div id="nav-close">❌</div>
  <div class="wrapper">
    <ul class="list list--horizontal">
      <li>
        <a href="{{ site.baseurl }}/" class="btn btn--pill">
          🏡 Home
        </a>
      </li>
      <!-- <li>
        <a href="/notice-board" class="btn btn--pill">
          📌 Notice Board
        </a>
      </li> -->
      <!--
        <li>
          <a href="#" target="_blank" class="btn btn--pill">
            📖 Local History
          </a> 
        </li> -->
      <li>
        <a href="https://www.npt.gov.uk/2195" target="_blank" class="btn btn--pill">
          ♻️ Bin Collections
        </a>
      </li>
      <li>
        <a href="https://bustimes.org/localities/tonna" target="_blank" class="btn btn--pill">
          🚌 Bus Timetable
        </a>
      </li>
      <li>
        <a href="https://www.police.uk/south-wales/W05000590/" target="_blank" class="btn btn--pill">
          ⚖️ Crime Report
        </a>
      </li>
      <li>
        <a href="https://goo.gl/maps/bLQdaPr2K9R2" target="_blank" class="btn btn--pill">
          🗺 Map
        </a>
      </li>
      <li>
        <a href="https://www.bbc.co.uk/weather/0/sa11" target="_blank" class="btn btn--pill">
          ☀️ Weather forecast
        </a>
      </li>
      <!-- 
          <li>
          <a href="#" target="_blank" class="btn btn--pill">
            📅 Events
          </a>
        </li> -->
      <li>
        <a href="{{ site.baseurl }}/buy-local" | prepend: site.baseUrl }}" class="btn btn--pill">
          🛒 Buy Local
        </a>
      </li>
      <!--
        <li>
          <a href="#" target="_blank" class="btn btn--pill">
            📷 Photography
          </a>
        </li> -->
      <li>
        <a href="http://www.npted.org/schools/primary/tonnau/" target="_blank" class="btn btn--pill">
          👨‍🏫 Primary School
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Tonna-Community-News-Events-142335116220/" target="_blank" class="btn btn--pill">
          👩‍💻 Facebook Group
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/342128192853044/" target="_blank" class="btn btn--pill">
          👩 Cllr. Leanne Jones
        </a>
      </li>
      <li>
        <a href="http://www.tonnacommunitycouncil.com/" target="_blank" class="btn btn--pill">
          🏛 Community Council
        </a>
      </li>
    </ul>
  </div>
</div>