@import "colors";

* {
  box-sizing: border-box;
  // Disble touch highlight colour: https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: $grey-lighter;
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper-inset {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 12.5%;
}

img {
  width: 100%;
  border-radius: 8px;
}

@media only screen and (max-width: 700px) {
  .wrapper,
  .wrapper-inset {
    margin: 0 16px;
    padding: 0;
  }
}

/* ============================================ */

main {
  flex: 1;
  padding: 56px 0;
}

@media only screen and (max-width: 700px) {
  main {
    padding: 32px 0;
  }
}
