$grey-black: #22292F;
$grey-darkest: #3D4852;
$grey-darker: #606F7B;
$grey-dark: #8795A1;
$grey-base: #B8C2CC;
$grey-light: #DAE1E7;
$grey-lighter: #F1F5F8;
$grey-lightest: #F8FAFC;
$grey-white: #FFFFFF;

$red-darkest: #3B0D0C;
$red-darker: #621B18;
$red-dark: #CC1F1A;
$red-base: #E3342F;
$red-light: #EF5753;
$red-lighter: #F9ACAA;
$red-lightest: #FCEBEA;

$orange-darkest: #462A16;
$orange-darker: #613B1F;
$orange-dark: #DE751F;
$orange-base: #F6993F;
$orange-light: #FAAD63;
$orange-lighter: #FCD9B6;
$orange-lightest: #FFF5EB;

$yellow-darkest: #453411;
$yellow-darker: #684F1D;
$yellow-dark: #F2D024;
$yellow-base: #FFED4A;
$yellow-light: #FFF382;
$yellow-lighter: #FFF9C2;
$yellow-lightest: #FCFBEB;

$green-darkest: #0F2F21;
$green-darker: #1A4731;
$green-dark: #1F9D55;
$green-base: #38C172;
$green-light: #51D88A;
$green-lighter: #A2F5BF;
$green-lightest: #E3FCEC;

$teal-darkest: #0D3331;
$teal-darker: #20504F;
$teal-dark: #38A89D;
$teal-base: #4DC0B5;
$teal-light: #64D5CA;
$teal-lighter: #A0F0ED;
$teal-lightest: #E8FFFE;

$blue-darkest: #12283A;
$blue-darker: #1C3D5A;
$blue-dark: #2779BD;
$blue-base: #3490DC;
$blue-light: #6CB2EB;
$blue-lighter: #BCDEFA;
$blue-lightest: #EFF8FF;

$indigo-darkest: #191E38;
$indigo-darker: #2F365F;
$indigo-dark: #5661B3;
$indigo-base: #6574CD;
$indigo-light: #7886D7;
$indigo-lighter: #B2B7FF;
$indigo-lightest: #E6E8FF;

$purple-darkest: #21183C;
$purple-darker: #382B5F;
$purple-dark: #794ACF;
$purple-base: #9561E2;
$purple-light: #A779E9;
$purple-lighter: #D6BBFC;
$purple-lightest: #F3EBFF;

$pink-darkest: #451225;
$pink-darker: #6F213F;
$pink-dark: #EB5286;
$pink-base: #F66D9B;
$pink-light: #FA7EA8;
$pink-lighter: #FFBBCA;
$pink-lightest: #FFEBEF;
