@import "colors";

.nav {
  background-color: $grey-white;
  padding: 32px 0 56px;

  li {
    margin: 16px 8px 0;
  }

  #nav-close {
    display: none;
    position: absolute;
    top: 28px;
    right: 24px;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .nav:not(.disable-collapse) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 56px 0 32px;
  }

  .nav:not(.disable-collapse) #nav-close {
    display: flex;
  }

  .nav.disable-collapse .list {
    justify-content: flex-start;
  }
}
