.spacing-xs {
  margin-top: 8px;
}

.spacing-sm {
  margin-top: 16px;
}

.spacing-md {
  margin-top: 24px;
}

.spacing-lg {
  margin-top: 32px;
}

.spacing-xl {
  margin-top: 56px;
}

// =================================================

.spacing-xs--left {
  margin-left: 8px;
}

.spacing-sm--left {
  margin-left: 16px;
}

.spacing-md--left {
  margin-left: 24px;
}

.spacing-lg--left {
  margin-left: 32px;
}

.spacing-xl--left {
  margin-left: 56px;
}

// =================================================

.spacing-xs--right {
  margin-right: 8px;
}

.spacing-sm--right {
  margin-right: 16px;
}

.spacing-md--right {
  margin-right: 24px;
}

.spacing-lg--right {
  margin-right: 32px;
}

.spacing-xl--right {
  margin-right: 56px;
}