@import "colors";

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: $grey-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
  padding-top: 40px;
}

p {
  font-size: 19px;
  margin: 24px 0 0;
  line-height: 28px;
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: $red-dark;
}

a:hover {
  text-decoration: underline;
}
