@import "colors";

#buy-local {
  .list {
    margin: 56px 0 0px;

    li {
      margin: 0 8px 16px;
    }
  }
}

.caption {
  font-size: 16px;
  color: $grey-darker;
  margin-top: 24px;
}

.business-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .business-text {
      flex: 1;

      .business-title {
      }

      .business-description {
      }
    }
  }
}

.business-list li.empty {
  font-size: 16px;
  text-align: center;
  color: #757575;
  background-color: transparent;
  flex-direction: column;
  align-items: center;

  a {
    margin-top: 16px;
  }
}

.business-list li a {
  margin: 8px 0 8px 8px;
}

@media only screen and (max-width: 500px) {
  .business-list li a span {
    display: none;
  }

  .business-list li:not(.empty) a::after {
    content: "Call now"
  }
}

// @media only screen and (max-width: 700px) {
//   .business-list li {
//     justify-content: flex-start;
//   }

//   .business-list .business-title {
//     width: 100%;
//     margin-bottom: 16px;
//   }

//   .business-list li a {
//     margin-left: 0;
//     margin-right: 16px;
//   }
// }
