---
layout: default
---

<div id="buy-local">
  <h1>Buy Local</h2>
  <p>Help support residents of Tonna by buying local goods and services.</p>

  <div class="caption">
    Do you know a local business that should be on this list? <a href="" target="_blank">Add a business!</a>
  </div>

  <ul class="list list--horizontal">
    <li>
      <a href="#food-drink" class="btn btn--light btn--pill">
        🍲🍷 Food & Drink
      </a>
    </li>
    <li>
      <a href="#gifts" class="btn btn--light btn--pill">
        🎁 Gifts, Arts & Crafts
      </a>
    </li>
    <li>
      <a href="#services" class="btn btn--light btn--pill">
        💅 Services
      </a>
    </li>
    <li>
      <a href="#trades" class="btn btn--light btn--pill">
        👨‍🏭 Trades
      </a>
    </li>
  </ul>

  <h2 id="food-drink">🍲🍷 Food & Drink</h2>
  <ul id="food-drink-list" class="business-list">
  </ul>

  <h2 id="gifts">🎁 Gifts, Arts & Crafts</h2>
  <ul id="gifts-list" class="business-list">
  </ul>

  <h2 id="services">💅 Services</h2>
  <ul id="services-list" class="business-list">
  </ul>

  <h2 id="trades">👨‍🏭 Trades</h2>
  <ul id="trades-list" class="business-list">
  </ul>
</div>