---
layout: default
---

<div id="buy-local">
  <h2>Buy Local</h2>
  <p>Help support residents of Tonna by using local goods and services.</p>

  <ul class="list list--horizontal">
    <li>
      <a href="#food-drink" class="btn btn--light btn--pill">
        🍲🍷 Food & Drink
      </a>
    </li>
    <li>
      <a href="#gifts" class="btn btn--light btn--pill">
        🎁 Gifts, Arts & Crafts
      </a>
    </li>
    <li>
      <a href="#services" class="btn btn--light btn--pill">
        💅 Services
      </a>
    </li>
    <li>
      <a href="#trades" class="btn btn--light btn--pill">
        👨‍🏭 Trades
      </a>
    </li>
  </ul>

  <div class="caption">
    Do you know a local business that should be on this list? <a href="https://goo.gl/forms/yjT5gP1EcZ9K66ZF2"
      target="_blank">Get in touch!</a>
  </div>

  <h3 id="food-drink">🍲🍷 Food & Drink</h3>
  <ul id="food-drink-list" class="business-list">
  </ul>

  <h3 id="gifts">🎁 Gifts, Arts & Crafts</h3>
  <ul id="gifts-list" class="business-list">
  </ul>

  <h3 id="services">💅 Services</h3>
  <ul id="services-list" class="business-list">
  </ul>

  <h3 id="trades">👨‍🏭 Trades</h3>
  <ul id="trades-list" class="business-list">
  </ul>
</div>