---
layout: default
---

<div id="notice-board">
  <div class="row row--spread">
    <h1 class="spacing-md--right">Notice board</h1>
    <a class="btn btn--pill btn--light">📝 Add your post</a>
  </div>

  <!--
  <div class="card spacing-md">
    <p class="card--title">Tonna RFC is recruiting new players</p>
    <p class="card--description">If you'd like to play for our team come along to training on Tuesday evenings at 6pm
      at
      Tonna Rugby Club.</p>
    <p class="card--meta">Posted 2 days ago - by Joe Bloggs</p>
  </div>

  <div class="card spacing-sm">
    <p class="card--title">Tonna RFC is recruiting new players</p>
    <p class="card--description">If you'd like to play for our team come along to training on Tuesday evenings at 6pm
      at
      Tonna Rugby Club.</p>
    <p class="card--meta">Posted 2 days ago - by Joe Bloggs</p>
  </div>
  -->
</div>

<script src="{{ "/js/notice-board.js" | prepend: site.baseurl }}"></script>